<div class="container">
  <div class="island-card d-flex">
    <div id="carouselExample" class="carousel slide">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <% if @island.photos.attached? %>
            <%= cl_image_tag(@island.photos.first.key, height: 300, width: 400, crop: :fill) %>
          <% end %>
        </div>
      <% @island.photos.each do |photo| %>
        <div class="carousel-item">
          <%= cl_image_tag(photo.key, height: 300, width: 400, crop: :fill) %>
        </div>
      <% end %>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>

    <div class="p-4">
      <div class="d-flex justify-content-between">
        <h2><%= @island.name %></h2>
        <div class="d-flex">
          <div class="mx-2">
            <%= link_to edit_island_path(@island) do %>
              <i class="fa-regular fa-pen-to-square"></i>
            <% end %>
          </div>
          <%= link_to island_path(@island), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete?" } do %>
            <i class="fa-solid fa-trash-can"></i>
          <% end %>
        </div>
      </div>
      <div>
        <p><%= @island.location %></p>
        <p>Description: Lorem ipsum dolor sit amet, consectetur adipiscing elit...</p>
        <p>Rating:⭐⭐⭐⭐⭐</p>
        <p>$ <%= @island.price %> by night</p>
        <%= link_to "Book now", new_island_booking_path(@island[:id]), class: "btn btn-outline-primary" %>
      </div>
    </div>
  </div>

</div>
    <%= link_to islands_path do %>
        <i class="fa-solid fa-arrow-rotate-left"></i> Back to list
      <% end %>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
</body>
</html>


